@charset "utf-8";
/* CSS Document */

/*==========================
NAVIGATION BAR COLOR
==========================*/

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #cddc36;
	background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #cddc36;
	background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #cddc36;
	background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: transparent;
	color: #cddc36;
}

 @media (max-width: 767px) {
	 
	 .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	color: #cddc36;
	background-color: transparent;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
	color: #cddc36;
	background-color: transparent;
}
 }


.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: #cddc36;
	background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #cddc36;
	background-color: transparent;
}


.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #cddc36;
	background-color: transparent;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #cddc36;
}


.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background-color: transparent;
	color: #cddc36;
}




/*==========================
LOGO
==========================*/

span.logo-span
{
	font-size:25px;
	color: #cddc36;
}



/*==========================
BUTTONS COLOR
==========================*/

.yorker-btn {
	background-color: #111;
	color: #ffffff;
	transition: all 0.5s ease-in-out 0s;
}
.yorker-btn:hover {
	background-color: #cddc36;
	color: #ffffff;
	border: 1px solid #d1d1d1;
	transition: all 0.5s ease-in-out 0s;
}
.yorker-btn2 {
	background-color: #cddc36;
	color: #ffffff;
	border: 1px solid #cddc36;
	transition: all 0.5s ease-in-out 0s;
}
.yorker-btn2:hover {
	background-color: transparent;
	color: #ffffff;
	border: 1px solid #cddc36;
	transition: all 0.5s ease-in-out 0s;
}
.yorker-btn3 {
	background-color: transparent;
	color: #ffffff;
	border: 1px solid #ffffff;
	transition: all 0.5s ease-in-out 0s;
}
.yorker-btn3:hover {
	background-color: #e5e5e5;
	color: #111;
	border: 1px solid #d1d1d1;
	transition: all 0.5s ease-in-out 0s;
}
.yorker-btn4 {
	background-color: transparent;
	color: #111;
	border: 1px solid #111;
	transition: all 0.5s ease-in-out 0s;
}
.yorker-btn4:hover {
	background-color: #e5e5e5;
	color: #111;
	border: 1px solid #d1d1d1;
	transition: all 0.5s ease-in-out 0s;
}
.yorker-btn5 {
	background-color: transparent;
	color: #111;
	border: 1px solid #111;
	transition: all 0.5s ease-in-out 0s;
}
.yorker-btn5:hover {
	background-color: #111;
	color: #ffffff;
	border: 1px solid #d1d1d1;
	transition: all 0.5s ease-in-out 0s;
}
.yorker-btn6 {
	background-color: transparent;
	color: #111;
	border: 1px solid #111;
	transition: all 0.5s ease-in-out 0s;
}
.yorker-btn6:hover {
	background-color: #cddc36;
	color: #ffffff;
	border: 1px solid #d1d1d1;
	transition: all 0.5s ease-in-out 0s;
}
.yorker-btn7 {
	background-color: transparent;
	color: #cddc36;
	border: 1px solid #cddc36;
	transition: all 0.5s ease-in-out 0s;
}
.yorker-btn7:hover {
	background-color: #cddc36;
	color: #ffffff;
	border: 1px solid #cddc36;
	transition: all 0.5s ease-in-out 0s;
}


.yorker-btn8 {
	background-color: transparent;
	color: #cddc36;
	border: 0px solid #cddc36;
	transition: all 0.5s ease-in-out 0s;
}
.yorker-btn8:hover {
	background-color: #cddc36;
	color: #ffffff;
	border: 1px solid #d1d1d1;
	transition: all 0.5s ease-in-out 0s;
}



/*==========================
PROGRESS BAR
==========================*/


.yorker-progress .progress-bar {
background-color: #cddc36;
}



/*==========================
PORTFOLIO
==========================*/

.filters li a.current {
	color: #ffffff;
	border:1px solid #cddc36;
	background-color: #cddc36;
	text-decoration: none;
}



.filters li a:hover {
		color: #ffffff;
	border:1px solid #cddc36;
	background-color: #cddc36;
	text-decoration: none;
}

.work-category a, .work-popup i {
	color: #cddc36;
}

/*==========================
PRICING
==========================*/


.pricing-table .pricing-wrapper > .pricing-column > .plan-title > h2 {
		background-color: #cddc36;
}

.pricing-table .pricing-wrapper > .pricing-column > .plan-title > .pricing-box {
		border-bottom: 3px solid #cddc36;
}

.plan-footer .btn:hover, .btn:focus {
		background:#cddc36;
}


/*==========================
TEAM
==========================*/
.team-image ul.social-icons li a:hover {
  background: #cddc36;
}


/*==========================
BLOG POST
==========================*/
.post-single .post-cat li a {
	color: #cddc36;
}


/*==========================
CONTACT BUTTON
==========================*/
button.submit:hover, .button.submit:focus, .button.submit:active {
	background-color: #cddc36;
}



.feature.style-app-1 i, .feature.style-app-2 i
{
	color:#ffffff;
	background-color: #cddc36;
}

.platforms i
{
 color:#cddc36;
 }