/* Blog */
.blog-lastest-post {
	text-align: center;
}
.blog-lastest-post .container {
	max-width: 100%;
}
.blog-lastest-post .blog-item {
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
}
.blog-lastest-post .blog-item > p {
	letter-spacing: 4px;
	line-height: 1.2;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.05em;
	font-size: 10px;
}
.blog-lastest-post .blog-item > p a {
	color: #9c5b57;
}
.blog-lastest-post .blog-item > p a:hover {
	color: #777777;
}
.blog-lastest-post .blog-item > p span {
	color: #777777;
}
.blog-lastest-post .blog-item a:hover .layout-after:after {
	opacity: 1;
}
.blog-lastest-post .blog-item a .item-image {
	position: relative;
	margin-bottom: 33px;
	overflow: hidden;
}
.blog-lastest-post .blog-item a .item-image:after {
	background-color: rgba(244, 244, 244, 0.9);
	content: "";
	display: block;
	position: absolute;
	z-index: 512;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
.blog-lastest-post .blog-item a .item-image img {
	width: 100%;
}
.blog-lastest-post .blog-item a .layout-after:after {
	opacity: 0;
}
.blog-lastest-post .blog-item h5 {
	font-size: 16px;
	margin-top: 10px;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.blog-lastest-post .blog-item h5:hover {
	color: #9c5b57;
}
